<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Page</title>
    <link href="index.css" rel="stylesheet"/>
    
    
</head>
<body>
    <center>
        
        <h1>Weather Check Services</h1>
        <form action="/submit" method="post">
        <div class="City" >
            
        <label for="city">City Name:</label>
    <input type="text" id="username" name="city" placeholder="Enter your city name">
    
</div>
<input type="submit" class="submit" value="Submit">
</form>
    </center>

</body>
</html>