<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Output</title>
</head>
<body style="background-image: url('<%= backgroundImage %>'); background-size: cover;background-repeat: no-repeat;">
    <center>
        <h1>

   Today the weather will be <%=value%>
</h1>
    </center>
</body>
</html>